/* ----------------------------------
	メインビジュアル
------------------------------------ */
@use "/scss/global" as *;

.bl_mv {
	height: 620px;
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
	background-image: url("/img/top/bg_mv.png");
	background-position: center;
	background-size: cover;
}

.bl_mv_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 263px;
}

.bl_mv_title {
	font-size: rem(120);
	color: $c_white;
}

.bl_mv_subtitle {
	display: flex;
	align-items: center;
	margin-top: 7px;
	font-size: rem(16);
	line-height: calc(27 / 16);
	color: $c_white;

	&::before {
		display: block;
		width: 12px;
		height: 2px;
		margin-right: 8px;
		content: "";
		background-color: $c_white;
	}

	&::after {
		display: block;
		width: 12px;
		height: 2px;
		margin-left: 8px;
		content: "";
		background-color: $c_white;
	}
}
