/* ----------------------------------
	Concept
------------------------------------ */
@use "/scss/global" as *;

.bl_concept {
	padding-top: 80px;
	padding-bottom: 80px;
	background: linear-gradient($c_white 70%, $c_gray2 30%);
}

.bl_concept_inner {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.bl_concept_text {
	margin-top: 32px;
	font-size: rem(16);
	line-height: 1.8;
	color: $c_gray;
	text-align: center;
	letter-spacing: 0.09em;
	appearance: none;
}

.bl_concept_image {
	margin-top: 40px;
}
