/* ----------------------------------
	セクションタイトル
------------------------------------ */
@use "/scss/global" as *;

.el_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $f_poppins, sans-serif;
	font-size: rem(36);
	font-weight: 700;
	line-height: calc(55 / 36);
	color: $c_gray;
	letter-spacing: 0.05em;

	&::after {
		display: block;
		width: 40px;
		height: 1px;
		margin-top: 23px;
		content: "";
		background-color: $c_gray;
	}
}
